{% extends "network/layout.html" %}

{% block body %}
    <div  class="container">

    
    <h1>Following</h1>
    <h1>{{ user_following }}</h1>
    <div id="posts-container">
      {% for post in posts %}
      <div class="card my-2">
        <a href="{% url 'profile_page' post.user.username %}">
          <h5 class="card-header">{{post.user.username}}</h5>
        </a>
        
        <div class="card-body">
            <p class="card-text">{{post.content}}</p>
            <h6 class="card-title">{{post.timestamp}}</h6>
          <h5 class="card-title">Likes: {{post.like_count}}</h5>
          <button class="btn btn-primary">Likes</button>
        </div>
      </div>
      {% endfor %}
    </div>
    </div>

{% endblock %}