{% extends "network/layout.html" %}

{% block body %}
    <div  class="container">

    
    <h1>Following</h1>
    <h1>{{ user_following }}</h1>
    <div id="posts-container">
      {% for post in posts %}
      <div class="card my-2">
        <a href="{% url 'profile_page' post.user.username %}">
          <h5 class="card-header">{{post.user.username}}</h5>
        </a>
        
        <div class="card-body">
            <p class="card-text">{{post.content}}</p>
            <h6 class="card-title">{{post.timestamp}}</h6>
          <h5 class="card-title">Likes: {{post.like_count}}</h5>
          <button class="btn btn-primary">Likes</button>
        </div>
      </div>
      {% endfor %}
      <div class="pagination">
        <span class="step-links">
            {% if posts.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ posts.previous_page_number }}">previous</a>
            {% endif %}
    
            <span class="current">
                Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
            </span>
    
            {% if posts.has_next %}
                <a href="?page={{ posts.next_page_number }}">next</a>
                <a href="?page={{ posts.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
    </div>
    </div>

{% endblock %}